{% extends 'coffee/base.html' %}

{% block title %}{% endblock %}

{% block content %}
<!-- Header Banner-->
<section class="ftco-counter ftco-bg-dark img" id="section-counter" style="background-image: url('{% static 'images/bg_5.jpg' %}');"data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
      <div class="container">
        <div class="row justify-content-center mb-2 pb-3 flexable-vh-10">
            <div class="col-md-7 heading-section ftco-animate text-center">
              <span class="subheading">Explore<br>Between</span>
              <h2 class="mb-3">咖啡豆</h2>
              <p style="color:#ccc;">- 香港焙煎團隊建立咖啡曲線<br />到調配眼前已被醇郁醉人的咖啡為您帶來最純粹的咖啡風味體驗 -</p>
            </div>
        </div>
      </div>
      <!-- breadcrumbs -->
      <div class="container">
          <div class="col-lg-12 col-md-7 col-sm-12 text-center ftco-animate mb-4">
            <div class="container">
              <p class="breadcrumbs"><span class="mr-2"><a href="">Home</a></span> <span> | </span> </span> <span>Menu</span></p>
            </div>
          </div>
      </div>
      <!-- end breadcrumbs -->
      </div>
  </section>
<!-- End Header Banner-->

<div class="flexable-vh-20"></div>

{% endblock %}
